<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalprojectprototype">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProjectPrototype">
        <activity android:name=".UpdateTab"></activity>
        <activity android:name=".Tabs" />
        <activity android:name=".Result4People" />
        <activity android:name=".Result3People" />
        <activity android:name=".Result2People" />
        <activity android:name=".Percent4People" />
        <activity android:name=".Percent3People" />
        <activity android:name=".Percent2People" />
        <activity android:name=".BillInfo" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>